.headingfeature{
    background-color: #fff;
    text-align:center;
    /* justify-content: space-between;
    align-items: center; */
    padding-top: 50px;
    padding-bottom:55px;
    

}
.heartt{
    padding-top:30px;
    background-color: #fff;
}
.img{
    
    margin-left: 0px;
    width:100px;
    height:10px;
}
.line1{
    width:60px;
    height:5px;
    background-color: rgb(59, 59, 160);
    margin:auto;
    margin-top:3px;
}
.subpart{
    margin-top:100px;
    display:flex;
    flex-direction:row;
    width:100vw;
    margin-bottom: 100px;
}

.left1{
    margin-left: 50px;
    margin-top: 20px;
}
b{
    color:rgb(18, 18, 75);
}
.dark b{
    color:#fff;
}
.dark .check{
    color:#fff;
}
.check{
    color:rgb(20, 20, 52)
}
li{
 padding-bottom: 15px;
 margin-left: 0px;
 font-size: 20px;
}
.dark li{
    color: #fff;
}

.img-heart{
    margin-top: 20px;
    padding-right: 50px;
    border-radius: 20px;
    margin-left:150px;
    margin-bottom: 20px;
    height:600px;
    width:550px;
}